@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body {
  background: black;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  padding:0;
  margin:0;
}
.white {
  color: white;
} 
.bouncyHouse {
    height:1366px;
    width:768px;
    background-color: #111111;
    position: relative;
}

.bouncer {
    position: absolute;
    width: 200px;
}

.border {
    width:100%;
    position: relative;
}
