@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body {
  background: black;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.bouncyHouse {
  height: 90vh;
}
.bouncer {
    position: absolute;
    width: 200px;
}
.white {
  color: white;
} 

